<div class="container bg-light mt-4 rounded-2">
    <div class="row py-3">
            <form action="#" method="POST">
                <select name="plan" id="plan" class="form-control">
                    <option value="1">عضویت ویژه 1 ماهه 10000</option>
                    <option value="3">عضویت ویژه 3 ماهه 10000</option>
                    <option value="12">عضویت ویژه 12 ماهه 10000</option>
                </select>
                <button type="submit" class="btn btn-danger btn-sm mt-2">خرید</button>
            </form>
    </div>  
</div>


