<div class="container bg-light mt-4 rounded-2">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr class="fw-bold">
                    <th>ردیف</th>
                    <th>عنوان کار</th>
                    <th>تنظیات</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="width: 5rem;">1</th>
                    <th class="w-75 ">تموم کردن پنل کاربری</th>
                    <th>
                        <form class="btn-group d-flex justify-content-center rounded-1" action="#" method="POST">
                            <a type="button" class="btn rounded-1 btn-sm btn-success">تایید</a>
                            <a type="button" class="btn btn-sm btn-secondary">ویرایش</a>
                            <button type="button" class="btn btn-sm rounded-1 btn-danger">حذف</button>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th style="width: 5rem;">1</th>
                    <th class="w-75 ">تموم کردن پنل کاربری</th>
                    <th>
                        <form class="btn-group d-flex justify-content-center rounded-1" action="#" method="POST">
                            <a type="button" class="btn rounded-1 btn-sm btn-success">تایید</a>
                            <a type="button" class="btn btn-sm btn-secondary">ویرایش</a>
                            <button type="button" class="btn btn-sm rounded-1 btn-danger">حذف</button>
                        </form>
                    </th>
                </tr>
                
            </tbody>
            
        </table>
    </div>
</div>