<div class="homeImage" id="home">
    <div class="homeText  h-100 text-white d-flex flex-column justify-content-center pb-5 align-items-center">
        <h4 class="slide-top">راه جدیدی برای ایجاد یک سبک زندگی سالم!</h4>
        <h1 class="slide-top">بدن خودت رو ارتقاع بده و جذاب باش</h1>
    </div>
</div>


<div id="class" class="d-flex flex-column justify-content-center pb-5">
    <div class="text-center  py-5">
        <h3 class="fw-bold">یک بدن کامل بدست آورید</h3>
        <h5>کلاس های آموزشی ما</h5>
    </div>

     

    <div class="container">
        <div class="row">
            <% courses.forEach(course=> { %>
                <div class="col-xl-4 col-lg-4 col-md-12 mb-4 col-sm-12 d-flex justify-content-around">
                    <div class="card w-100" style="width: 18rem;">
                        <img class="card-img-top" src="image/11.png" alt="Card image cap">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div class="justify ">
                                <h5 class="card-title">
                                    <%= course.title %>
                                </h5>
                                <p class="card-text discriptionClassH overflow-hidden">
                                    <%- course.description %>
                                </p>
                            </div>
                            <a href="/courses/single/<%= course.id %> " class="btn btn-primary">ادامه</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <div class="text-center">
        <a href="#" class="btn btn-primary my-4">بیشتر...</a>
    </div>

</div>




<div class="container-fluid mb-5 teblePC" id="calendar">
    <hr />

    <div class="text-center py-5">
        <h3 class="fw-bold">تقویم ورزشی</h3>
        <h5>ساعات کلاسی</h5>
    </div>

    <div class="row text-center ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <table class="table table-hover">
                <thead>
                    <tr class="fw-bold">
                        <th scope="col">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                                class="bi bi-calendar2-week" viewBox="0 0 16 16">
                                <path
                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                                <path
                                    d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                            </svg>
                        </th>
                        <th scope="col">شنبه</th>
                        <th scope="col">یک‌شنبه</th>
                        <th scope="col">دوشنبه</th>
                        <th scope="col">سه‌شنبه</th>
                        <th scope="col">چهار‌شنبه</th>
                        <th scope="col">پنج‌شنبه</th>
                        <th scope="col">جمعه</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="fw-bold" scope="row">7:00</th>
                        <td>
                            <p class="m-0">
                                تمرینات هوازی
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                        <td>
                            <p class="m-0">
                                تناسب اندام
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>

                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                    </tr>

                    <tr>
                        <th class="fw-bold" scope="row">9:00</th>
                        <td>
                            <p class="m-0">
                                تمرینات هوازی
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>

                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                تناسب اندام
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                یوگا
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>

                    </tr>

                    <tr>
                        <th class="fw-bold" scope="row">14:00</th>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                یوگا
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                    </tr>

                    <tr>
                        <th class="fw-bold" scope="row">16:30</th>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                تمرینات هوازی
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                        <td>
                            <p class="m-0">
                                یوگا
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                    </tr>

                    <tr>
                        <th class="fw-bold" scope="row">20:45</th>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                تمرینات هوازی
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                تناسب اندام
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                        <td>
                            <p class="m-0">
                                -
                            </p>
                            <small>-</small>
                        </td>
                        <td>
                            <p class="m-0">
                                یوگا
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container-fluid mb-5 tebleMob" id="calendar">
    <hr />

    <div class="text-center py-5">
        <h3 class="fw-bold">تقویم ورزشی</h3>
        <h5>ساعات کلاسی</h5>
    </div>

    <div class="row text-center ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <table class="table table-hover">
                <thead>
                    <tr class="fw-bold">
                        <th scope="col">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                                class="bi bi-calendar2-week" viewBox="0 0 16 16">
                                <path
                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                                <path
                                    d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                            </svg>
                        </th>
                        <th scope="col">شنبه</th>
                        <th scope="col">یک‌شنبه</th>
                        <th scope="col">دوشنبه</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="fw-bold" scope="row">20:45</th>

                        <td>
                            <p class="m-0">
                                تمرینات هوازی
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>

                        <td>
                            <p class="m-0">
                                تناسب اندام
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>

                        <td>
                            <p class="m-0">
                                یوگا
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                    </tr>

                    <tr>
                        <th class="fw-bold" scope="row">20:45</th>

                        <td>
                            <p class="m-0">
                                تمرینات هوازی
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>

                        <td>
                            <p class="m-0">
                                تناسب اندام
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>

                        <td>
                            <p class="m-0">
                                یوگا
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                    </tr>

                    <tr>
                        <th class="fw-bold" scope="row">20:45</th>

                        <td>
                            <p class="m-0">
                                تمرینات هوازی
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>

                        <td>
                            <p class="m-0">
                                تناسب اندام
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>

                        <td>
                            <p class="m-0">
                                یوگا
                            </p>
                            <small>7:00 - 9:00</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>