<% if (errors.length> 0) { %>
    <div class="py-1 alert alert-danger alert-dismissible fade show d-flex flex-column-reverse align-items-start"
        role="alert">
    <% errors.forEach(item=> { %>
        <small class="m-0 pb-2 ">
            <%= item %>
        </small>
    <% }) %>
        <button type="button" class="btn close p-0" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>
