<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12 mt-4 col-sm-12">
            <div class="card  bg-light m-0">
                <div class="card-header">
                    <h5 class="text-black mb-4">67205550</h5>
                    <p class="card-text blockquote-footer">تعداد اعضای ثبت نام کرده شده</p>
                </div>
                <div class="card-body text-primary">
                    <div>
                        <canvas id="success_chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-12 col-md-12 mt-4 col-sm-12">
            <div class="card bg-light m-0">
                <div class="card-header">
                    <h5 class="text-black mb-4">34200</h5>
                    <p class="card-text blockquote-footer">تعداد اعضای ثبت نام کرده شده</p>
                </div>
                <div class="card-body text-primary">
                    <canvas id="primary_chart">asfasf</canvas>
                </div>
            </div>
        </div>

        <div class="col-xl-6  mt-xl-3 col-lg-12 col-md-12 mt-4 col-sm-12">
            <div class="card bg-light m-0">
                <div class="card-header">
                    <h5 class="text-black mb-4">89200</h5>
                    <p class="card-text blockquote-footer">تعداد اعضای ثبت نام کرده شده</p>
                </div>
                <div class="card-body text-primary">
                    <canvas id="Three_chart">asfasf</canvas>
                </div>
            </div>
        </div>

        <div class="col-xl-6  mt-xl-3 col-lg-12 col-md-12 mt-4 col-sm-12">
            <div class="card bg-light m-0">
                <div class="card-header">
                    <h5 class="text-black mb-4">45200</h5>
                    <p class="card-text blockquote-footer">تعداد اعضای ثبت نام کرده شده</p>
                </div>
                <div class="card-body text-primary">
                    <canvas id="Four_chart">asfasf</canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mr-md-auto flex-wrap-reverse d-flex justify-content-lg-between flex-sm-column flex-lg-row"
    id="main">
    


</div>

<div class="col-12 p-0">
    <div>
        <div class="d-flex justify-content-between flex-wrap border-bottom p-4">
            <div>
                <h4>داشبورد</h4>
            </div>
        </div>
    </div>
</div>

<div class=" mt-4">
    <div class="card w-100">
        <div class="card-header">
            <h5>امار بازدید</h5>
        </div>
        <div class="card-body">
            <canvas id="Full_chart"></canvas>
        </div>

        <div class="container-fluid bg-light py-2 px-3">
            <div class="row">
                <div class=" mb-3 col-xl-3 col-lg-6 col-md-12 col-sm-12">
                    <h6 class="fw-bold">همه بازدید ها</h6>
                    <small>25680 بازدید (40%)</small>
                    <div class="progress mt-2">
                        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
                            style="width: 40%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
    
                <div class="mb-3 col-xl-3 col-lg-6 col-md-12 col-sm-12">
                    <h6 class="fw-bold">بازدید های یکتا</h6>
                    <small>15460 بازدید (80%)</small>
                    <div class="progress mt-2">
                        <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar"
                            style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
    
                <div class="mb-3 col-xl-3 col-lg-6 col-md-12 col-sm-12">
                    <h6 class="fw-bold">صفحات بازدید شده</h6>
                    <small>79500 بازدید (25%)</small>
                    <div class="progress mt-2">
                        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
                            style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
    
                <div class="mb-3 col-xl-3 col-lg-6 col-md-12 col-sm-12">
                    <h6 class="fw-bold">نرخ برش</h6>
                    <small>36400 بازدید (43%)</small>
                    <div class="progress mt-2">
                        <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar"
                            style="width: 43%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" mt-4 table-responsive  table-bordered">
    <table class="table">
        <thead>
            <tr class="table-secondary text-center fw-bold">
                <th class="col-3">نام</th>
                <th class="col-3">کلاس</th>
                <th class="col-3">پرداختی</th>
                <th class="col-3">تنظیمات</th>
            </tr>
        </thead>
        <tbody class="text-center" style="font-size: .8rem;">
            <tr class="p-2">
                <td>چه زمانی مشتری خیلی دور شده است؟</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="p-2">
                <td>چه زمانی مشتری خیلی دور شده است؟</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              
            </tr>

            <tr class="p-2">
                <td>چه زمانی مشتری خیلی دور شده است؟</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
             
            </tr>

            <tr class="p-2">
                <td>چه زمانی مشتری خیلی دور شده است؟</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
             
            </tr>

            <tr class="p-2">
                <td>چه زمانی مشتری خیلی دور شده است؟</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
             
            </tr>

            <tr class="p-2">
                <td>چه زمانی مشتری خیلی دور شده است؟</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
             
            </tr>

            <tr class="p-2">
                <td>چه زمانی مشتری خیلی دور شده است؟</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
             
            </tr>

            <tr class="p-2">
                <td>چه زمانی مشتری خیلی دور شده است؟</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
             
            </tr>

            <tr class="p-2">
                <td>چه زمانی مشتری خیلی دور شده است؟</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
             
            </tr>

            <tr class="p-2">
                <td>چه زمانی مشتری خیلی دور شده است؟</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
             
            </tr>

            <tr class="p-2">
                <td>چه زمانی مشتری خیلی دور شده است؟</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
             
            </tr>

            <tr class="p-2">
                <td>چه زمانی مشتری خیلی دور شده است؟</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
             
            </tr>
        </tbody>
    </table>
</div>
<script src="/js/chart-main.js"></script>






<script>
    
    var success_chart = document.getElementById('Full_chart');
    var My_success_chart = new Chart(success_chart, {
        type: 'line',
        data: {
            labels: <%- JSON.stringify(date) %>,
            datasets: [{
                label: 'نمودار خرید',
                data: <%- JSON.stringify(price) %> ,
                backgroundColor: "rgba(0,0,0,.5)",
                borderWidth: 1  ,
                tension: .5
                
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            fill: true,
            borderColor: 'black',
        }
    });



    
    </script>
    